In [1]:
import pandas as pd

#Ejercicio 1

In [2]:
juegos_olimpicos = pd.read_csv('/content/Summer-Olympic-medals-1976-to-2008.csv', encoding='latin-1')
juegos_olimpicos

           City    Year      Sport  ...        Country Event_gender   Medal
0      Montreal  1976.0   Aquatics  ...   East Germany            W  Silver
1      Montreal  1976.0   Aquatics  ...   Soviet Union            M  Bronze
2      Montreal  1976.0   Aquatics  ...  United States            M    Gold
3      Montreal  1976.0   Aquatics  ...          Italy            M  Silver
4      Montreal  1976.0   Aquatics  ...  United States            W  Bronze
...         ...     ...        ...  ...            ...          ...     ...
15428   Beijing  2008.0  Wrestling  ...         France            M  Bronze
15429   Beijing  2008.0  Wrestling  ...        Georgia            M    Gold
15430   Beijing  2008.0  Wrestling  ...     Azerbaijan            M  Silver
15431   Beijing  2008.0  Wrestling  ...         France            M    Gold
15432   Beijing  2008.0  Wrestling  ...           Cuba            M    Gold

[15433 rows x 11 columns]

In [3]:
type (juegos_olimpicos)

pandas.core.frame.DataFrame

In [ ]:
juegos_olimpicos = juegos_olimpicos.dropna()

In [ ]:
juegos_olimpicos.dtypes

In [4]:
juegos_olimpicos["Year"] = pd.to_datetime(juegos_olimpicos["Year"],
                                          format= ("%Y"))   

juegos_olimpicos['Year'] = juegos_olimpicos['Year'].dt.year 
                                    
juegos_olimpicos

           City    Year      Sport  ...        Country Event_gender   Medal
0      Montreal  1976.0   Aquatics  ...   East Germany            W  Silver
1      Montreal  1976.0   Aquatics  ...   Soviet Union            M  Bronze
2      Montreal  1976.0   Aquatics  ...  United States            M    Gold
3      Montreal  1976.0   Aquatics  ...          Italy            M  Silver
4      Montreal  1976.0   Aquatics  ...  United States            W  Bronze
...         ...     ...        ...  ...            ...          ...     ...
15428   Beijing  2008.0  Wrestling  ...         France            M  Bronze
15429   Beijing  2008.0  Wrestling  ...        Georgia            M    Gold
15430   Beijing  2008.0  Wrestling  ...     Azerbaijan            M  Silver
15431   Beijing  2008.0  Wrestling  ...         France            M    Gold
15432   Beijing  2008.0  Wrestling  ...           Cuba            M    Gold

[15433 rows x 11 columns]

In [5]:
juegos_olimpicos.Year

0        1976.0
1        1976.0
2        1976.0
3        1976.0
4        1976.0
          ...
15428    2008.0
15429    2008.0
15430    2008.0
15431    2008.0
15432    2008.0
Name: Year, Length: 15433, dtype: float64

In [6]:
juegos_olimpicos.set_index("Year")

            City      Sport  ... Event_gender   Medal
Year                         ...
1976.0  Montreal   Aquatics  ...            W  Silver
1976.0  Montreal   Aquatics  ...            M  Bronze
1976.0  Montreal   Aquatics  ...            M    Gold
1976.0  Montreal   Aquatics  ...            M  Silver
1976.0  Montreal   Aquatics  ...            W  Bronze
...          ...        ...  ...          ...     ...
2008.0   Beijing  Wrestling  ...            M  Bronze
2008.0   Beijing  Wrestling  ...            M    Gold
2008.0   Beijing  Wrestling  ...            M  Silver
2008.0   Beijing  Wrestling  ...            M    Gold
2008.0   Beijing  Wrestling  ...            M    Gold

[15433 rows x 10 columns]

In [ ]:
juegos_olimpicos.dtypes

#Ejercicio 2

In [7]:
nuevo = juegos_olimpicos["Athlete"].str.split(" ", n = 1, expand = True) 
  
juegos_olimpicos["Apellido"]= nuevo[0] 
  
juegos_olimpicos["Nombre"]= nuevo[1] 
  
juegos_olimpicos.drop(columns =["Athlete"], inplace = True) 
  
juegos_olimpicos

           City    Year      Sport  ...   Medal    Apellido          Nombre
0      Montreal  1976.0   Aquatics  ...  Silver     KÖHLER,         Christa
1      Montreal  1976.0   Aquatics  ...  Bronze   KOSENKOV,       Aleksandr
2      Montreal  1976.0   Aquatics  ...    Gold      BOGGS,   Philip George
3      Montreal  1976.0   Aquatics  ...  Silver   CAGNOTTO,  Giorgio Franco
4      Montreal  1976.0   Aquatics  ...  Bronze     WILSON,  Deborah Keplar
...         ...     ...        ...  ...     ...         ...             ...
15428   Beijing  2008.0  Wrestling  ...  Bronze     GUENOT,      Christophe
15429   Beijing  2008.0  Wrestling  ...    Gold  KVIRKELIA,        Manuchar
15430   Beijing  2008.0  Wrestling  ...  Silver    RAHIMOV,         Vitaliy
15431   Beijing  2008.0  Wrestling  ...    Gold     GUENOT,          Steeve
15432   Beijing  2008.0  Wrestling  ...    Gold      LOPEZ,          Mijain

[15433 rows x 12 columns]

#Ejercicio 3

In [8]:
juegos_olimpicos.set_index("Year")

            City      Sport  ...    Apellido          Nombre
Year                         ...
1976.0  Montreal   Aquatics  ...     KÖHLER,         Christa
1976.0  Montreal   Aquatics  ...   KOSENKOV,       Aleksandr
1976.0  Montreal   Aquatics  ...      BOGGS,   Philip George
1976.0  Montreal   Aquatics  ...   CAGNOTTO,  Giorgio Franco
1976.0  Montreal   Aquatics  ...     WILSON,  Deborah Keplar
...          ...        ...  ...         ...             ...
2008.0   Beijing  Wrestling  ...     GUENOT,      Christophe
2008.0   Beijing  Wrestling  ...  KVIRKELIA,        Manuchar
2008.0   Beijing  Wrestling  ...    RAHIMOV,         Vitaliy
2008.0   Beijing  Wrestling  ...     GUENOT,          Steeve
2008.0   Beijing  Wrestling  ...      LOPEZ,          Mijain

[15433 rows x 11 columns]

In [9]:
juegos_olimpicos1 = juegos_olimpicos.set_index ("Year")
juegos_olimpicos1

            City      Sport  ...    Apellido          Nombre
Year                         ...
1976.0  Montreal   Aquatics  ...     KÖHLER,         Christa
1976.0  Montreal   Aquatics  ...   KOSENKOV,       Aleksandr
1976.0  Montreal   Aquatics  ...      BOGGS,   Philip George
1976.0  Montreal   Aquatics  ...   CAGNOTTO,  Giorgio Franco
1976.0  Montreal   Aquatics  ...     WILSON,  Deborah Keplar
...          ...        ...  ...         ...             ...
2008.0   Beijing  Wrestling  ...     GUENOT,      Christophe
2008.0   Beijing  Wrestling  ...  KVIRKELIA,        Manuchar
2008.0   Beijing  Wrestling  ...    RAHIMOV,         Vitaliy
2008.0   Beijing  Wrestling  ...     GUENOT,          Steeve
2008.0   Beijing  Wrestling  ...      LOPEZ,          Mijain

[15433 rows x 11 columns]

In [10]:
juegos_olimpicos1.describe(include="all")

           City     Sport Discipline  ...   Medal Apellido    Nombre
count     15316     15316      15316  ...   15316    15316     15241
unique        9        28         41  ...       3     8749      5896
top     Beijing  Aquatics  Athletics  ...  Bronze      VAN  Vladimir
freq       2042      2210       1523  ...    5258      115       113

[4 rows x 11 columns]

#Ejercicio 4

In [11]:
juegos_olimpicos2= pd.read_csv('/content/Summer-Olympic-medals-1976-to-2008.csv', encoding='latin-1')
juegos_olimpicos2

           City    Year      Sport  ...        Country Event_gender   Medal
0      Montreal  1976.0   Aquatics  ...   East Germany            W  Silver
1      Montreal  1976.0   Aquatics  ...   Soviet Union            M  Bronze
2      Montreal  1976.0   Aquatics  ...  United States            M    Gold
3      Montreal  1976.0   Aquatics  ...          Italy            M  Silver
4      Montreal  1976.0   Aquatics  ...  United States            W  Bronze
...         ...     ...        ...  ...            ...          ...     ...
15428   Beijing  2008.0  Wrestling  ...         France            M  Bronze
15429   Beijing  2008.0  Wrestling  ...        Georgia            M    Gold
15430   Beijing  2008.0  Wrestling  ...     Azerbaijan            M  Silver
15431   Beijing  2008.0  Wrestling  ...         France            M    Gold
15432   Beijing  2008.0  Wrestling  ...           Cuba            M    Gold

[15433 rows x 11 columns]

In [12]:
juegos_olimpicos2= juegos_olimpicos2.dropna()

In [13]:
juegos_olimpicos2["Year"] = pd.to_datetime(juegos_olimpicos2["Year"],
                                          format= ("%Y"))   

juegos_olimpicos2['Year'] = juegos_olimpicos2['Year'].dt.year 
                                    
juegos_olimpicos2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

           City  Year      Sport  ...        Country Event_gender   Medal
0      Montreal  1976   Aquatics  ...   East Germany            W  Silver
1      Montreal  1976   Aquatics  ...   Soviet Union            M  Bronze
2      Montreal  1976   Aquatics  ...  United States            M    Gold
3      Montreal  1976   Aquatics  ...          Italy            M  Silver
4      Montreal  1976   Aquatics  ...  United States            W  Bronze
...         ...   ...        ...  ...            ...          ...     ...
15428   Beijing  2008  Wrestling  ...         France            M  Bronze
15429   Beijing  2008  Wrestling  ...        Georgia            M    Gold
15430   Beijing  2008  Wrestling  ...     Azerbaijan            M  Silver
15431   Beijing  2008  Wrestling  ...         France            M    Gold
15432   Beijing  2008  Wrestling  ...           Cuba            M    Gold

[15316 rows x 11 columns]

In [14]:
juegos_olimpicos2.set_index ("Year")
juegos_olimpicos2.head()

       City  Year     Sport  ...        Country Event_gender   Medal
0  Montreal  1976  Aquatics  ...   East Germany            W  Silver
1  Montreal  1976  Aquatics  ...   Soviet Union            M  Bronze
2  Montreal  1976  Aquatics  ...  United States            M    Gold
3  Montreal  1976  Aquatics  ...          Italy            M  Silver
4  Montreal  1976  Aquatics  ...  United States            W  Bronze

[5 rows x 11 columns]

In [15]:
hombres = juegos_olimpicos2 [(juegos_olimpicos2["Gender"] == "Men")] 
hombres

           City  Year      Sport  ...        Country Event_gender   Medal
1      Montreal  1976   Aquatics  ...   Soviet Union            M  Bronze
2      Montreal  1976   Aquatics  ...  United States            M    Gold
3      Montreal  1976   Aquatics  ...          Italy            M  Silver
5      Montreal  1976   Aquatics  ...  United States            M  Silver
8      Montreal  1976   Aquatics  ...          Italy            M    Gold
...         ...   ...        ...  ...            ...          ...     ...
15428   Beijing  2008  Wrestling  ...         France            M  Bronze
15429   Beijing  2008  Wrestling  ...        Georgia            M    Gold
15430   Beijing  2008  Wrestling  ...     Azerbaijan            M  Silver
15431   Beijing  2008  Wrestling  ...         France            M    Gold
15432   Beijing  2008  Wrestling  ...           Cuba            M    Gold

[9388 rows x 11 columns]

In [16]:
hombres= hombres.dropna()
hombres.head()

       City  Year     Sport  ...        Country Event_gender   Medal
1  Montreal  1976  Aquatics  ...   Soviet Union            M  Bronze
2  Montreal  1976  Aquatics  ...  United States            M    Gold
3  Montreal  1976  Aquatics  ...          Italy            M  Silver
5  Montreal  1976  Aquatics  ...  United States            M  Silver
8  Montreal  1976  Aquatics  ...          Italy            M    Gold

[5 rows x 11 columns]

In [17]:
hombres2 = hombres [ ["Medal", "Year"] ]
hombres2

        Medal  Year
1      Bronze  1976
2        Gold  1976
3      Silver  1976
5      Silver  1976
8        Gold  1976
...       ...   ...
15428  Bronze  2008
15429    Gold  2008
15430  Silver  2008
15431    Gold  2008
15432    Gold  2008

[9388 rows x 2 columns]

In [ ]:
type (hombres2)

In [18]:
hombres2.groupby (["Year"]).count()

      Medal
Year
1976    924
1980    958
1984    973
1988   1011
1992   1105
1996   1082
2000   1126
2004   1099
2008   1110